.botoes {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    grid-area: botoes;
    background-color: var(--bg-primary);
    padding: 50px 25px;
    
    @media (min-width: 768px) {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}