.header {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    grid-area: header;
    background-color: var(--bg-primary);
    padding: 50px 25px;
    justify-content: center;

    p {
        margin: 20px 0;
        text-align: left;
        font-size: 12px;
    }

    button {
        padding: 15px;
        margin: 0 1rem;
        cursor: pointer;
    }

    .headerinfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .divIcons {
            display: flex;
            align-items: center;

            img {
                margin-right: 20px;
                cursor: pointer;
            }

            img:hover {
                width: 40px;
                height: 40px;
                transition: 100ms step-end; 
            }
        }
    }

    @media (min-width: 768px) {
        height: 100vh;

        p {
            padding-top: 20px;
            text-align: center;
        }

        button {
            padding: 15px;
            margin: 0 3rem;
        }
    }
}