.experiencia {
    display: flex;
    flex-direction: column;
    color: rgb(41, 41, 39);
    grid-area: experiencia;
    background-color: rgba(45, 103, 128, 0.568);
    
    padding: 50px 25px;

    p {
        text-align: start;
        margin-top: 10px;
    }

    img {
        padding-right: 10px;
    }

    @media (min-width: 768px) {
        justify-content: left;
    }
}