.experiencia {
    display: flex;
    flex-direction: column;
    color: black;
    grid-area: experiencia;
    background-color: rgba(45, 103, 128, 0.568);
    padding: 50px 25px;
    
    img {
        padding-right: 10px;
    }

    @media (min-width: 768px) {
        height: 100vh;
        justify-content: left;
        align-items: normal;
    }
}